@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.rawgit.com/sh4hids/bangla-web-fonts/solaimanlipi/stylesheet.css");
/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif, "SolaimanLipi";
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container {
  width: 90%;
}

/* NavBar  */

#header {
  position: relative;
  height: 100px;
  /* z-index: 99; */
}

nav {
  height: 40px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 20px;
  box-shadow: 0 6px 6px -2px gray;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

nav .logo {
  height: auto;
}

nav .logo img {
  height: 36px;
  margin-left: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 12px;
}

nav ul li a {
  color: #9f9f9f;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  overflow-y: auto;
}

nav ul li a:hover {
  color: #009245;
}

nav ul li a.active {
  color: #009245;
  font-weight: 800;
}

nav .menu-btn i {
  font-size: 22px;
  cursor: pointer;
  display: none;
}

.dropdown {
  flex-direction: column;
  overflow: visible;
  position: absolute;
  visibility: hidden;
}

.dropdown li {
  line-height: 1.5;
  background-color: white;
  padding: 4px;
  transform: translateX(-20px);
  transform: translatey(8 px);
}

.calender:hover > .dropdown {
  visibility: visible;
  transition: 0.3ms ease-in;
}

#click {
  display: none;
}

.login {
  background-color: #0071bc;
  margin: 0;
  padding: 2px 32px;
  border-radius: 16px;
  transition: 0.2s ease-in;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.login:hover {
  background-color: white;
  outline: solid 2px #0071bc;
  color: #0071bc;
}

/* Navbar ends  */

/* Headline */

#headline {
  display: grid;
  grid-template-columns: 1fr 10fr;
  max-height: 100px;
  position: fixed;
  top: 24px;
  z-index: 9999;
}

.headline-text {
  text-align: center;
  padding: 6px 10px 0px 10px;
  background-color: #055405;
  color: #e6d417;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 34px;
  margin-right: 0px;
  max-height: 45px;
}

marquee {
  width: calc(100% - 34px);
  height: auto;
  padding: 10px;
  margin: 20px;
  margin-left: 0px;
  border: solid 1px #c6cec6;
  color: red;
  font-size: 20px;
  font-weight: 600;
  max-height: 45px;
  background-color: white;
}

.right-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6px 10px 0px 10px;
  position: fixed;
  right: 0;
  top: 90px;
  width: 10%;
}

.right-bar img {
  max-height: 65px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
}

.right-bar button {
  width: 100px;
  margin: auto;
  background: rgb(110, 196, 148);
  background: linear-gradient(
    180deg,
    rgba(110, 196, 148, 1) 0%,
    rgba(0, 150, 78, 1) 100%
  );
  border: none;
  color: white;
  padding: 6px;
  border-radius: 4px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.right-bar button:hover {
  background: rgba(0, 150, 78, 1);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 78, 1) 0%,
    rgba(110, 196, 148, 1) 100%
  );
  transition: 0.3s all ease;
}

.messenger-icon {
  background-color: #009245;
  display: flex;
  flex-direction: column;
}

.messenger-icon a {
  font-size: 22px;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.responsive-logo {
  display: none;
}

/* Headline ends  */

body {
  position: relative;
}

.body-container {
  width: 86%;
  margin-left: 34px;
  /* z-index: 999; */
}

.notification-advertise-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.notification-container {
  background-color: #0071bc;
}

.section-title {
  font-size: 1.125rem;
  color: white;
  font-weight: bold;
  margin: 10px 18px 10px 18px;
}

.section-title a:link,
.section-title a:hover,
.section-title a:active,
.section-title a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* .right {
  float: right;
  top: 0;
} */

.right a {
  color: white;
  float: right;
  top: 0;
  margin-right: 18px;
}

.notification-card-container {
  min-height: 90vh;
}

.notification-card {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: #f2f2f2;
  margin: 18px;
  height: fit-content;
}

.notification-card:hover {
  background-color: #4aa81c;
  color: white;
  transition: 0.3s ease;
}

.notification-card:hover > .notification-date {
  background-color: white;
  transition: 0.3s ease;
}

.notification-card:hover .date1 {
  color: black;
  transition: 0.3s ease;
}
.notification-card:hover .date2 {
  color: black;
  transition: 0.3s ease;
}

.notification-card:hover .view-button {
  border: solid 1px white;
}

.notification-card:hover .notification-date {
  transform: translateX(-30px);
  transition: 0.3s ease;
}

.notification-date {
  background-color: #009245;
  margin: 6px;
  text-align: center;
  border-left: solid red;
}

.date1 {
  font-weight: bold;
  font-size: 28px;
  color: #ffff00;
  padding-top: 8px;
}

.date2 {
  font-size: 22px;
  color: white;
  padding-bottom: 8px;
}

.notification-card .notification-details {
  font-size: 18px;
  position: relative;
  margin: 6px;
}

.notification-details {
  padding-bottom: 36px;
}

.view-button {
  bottom: 0;
  position: absolute;
  background-color: #009245;
  padding: 6px 20px 6px 20px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: solid 1px #009245;
}

.advertise-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advertises {
  height: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertise-image video {
  height: 180px;
}

.ad-image {
  height: 170px;
  width: 170px;
}

/* Article starts  */

.article-container {
  width: 86%;
  margin: 20px 0px 20px 34px;
  background-color: #f38020;
  /* z-index: 1; */
}

.article-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 18px 0px;
  width: 100%;
}

.home-article {
  margin: 0px 18px;
  text-align: center;
  position: relative;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 4px;
}

.home-article img {
  max-height: 180px;
  max-width: 100%;
  /* z-index: 1; */
}

/* Article ends  */

/* Article slider starts  */

.article-slider {
  width: 90%;
  background-color: #f38020;
  margin: auto;
  display: none;
}

/* Video starts  */

.video-container {
  width: 86%;
  margin: 20px 0px 20px 34px;
  background-color: #08476c;
  /* z-index: 999; */
}

.video-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 18px 0px;
  width: 100%;
}

.home-video {
  margin: 0px 18px;
  text-align: center;
}

.home-video iframe {
  width: 100%;
  min-height: 200px;
}

.home-video a {
  color: #ffff00;
  font-size: 18px;
}

/* Video ends  */

/* Video Slider starts  */

.video-slider {
  width: 90%;
  background-color: #08476c;
  margin: auto;
  display: none;
}

/* Video Slider ends  */

/* Messages Starts  */

.message-container {
  width: 86%;
  margin: 20px 0px 20px 34px;
  background-color: #00a99d;
  /* z-index: 999; */
}

.message-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 18px 0px;
  width: 100%;
}

.home-message {
  margin: 0px 18px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.message-image-author-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.message-image img {
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
}

.message-author {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-author .author-name {
  font-weight: bold;
  color: #3c5084;
  font-size: 22px;
}

.message-author .author-designation {
  color: #808080;
}

.message-detail {
  text-align: center;
  color: #006837;
  font-size: 18px;
  font-weight: 600;
}

.message-slider {
  width: 90%;
  margin: auto;
  background-color: #00a99d;
  display: none;
}

/* Message ends  */

/* Download our app starts  */

.download-our-app {
  /* display: none; */
  width: 90%;
}

.download-our-app-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-apps-title {
  font-size: 24px;
  font-weight: 700;
}

.our-apps-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.our-apps-icons button {
  width: 100px;
  margin: auto;
  background: rgb(110, 196, 148);
  background: linear-gradient(
    180deg,
    rgba(110, 196, 148, 1) 0%,
    rgba(0, 150, 78, 1) 100%
  );
  border: none;
  color: white;
  padding: 6px;
  border-radius: 4px;
  transition: 0.3s all ease;
  cursor: pointer;
}

.our-apps-icons button:hover {
  background: rgba(0, 150, 78, 1);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 78, 1) 0%,
    rgba(110, 196, 148, 1) 100%
  );
  transition: 0.3s all ease;
}

.our-apps-icons img {
  max-width: 100px;
  max-height: 100px;
}

.icon-each {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 10px 20px;
}

/* Download our app ends  */

/* Footer starts  */

footer {
  width: 89%;
  border-top: solid 4px #0287ff;
  /* z-index: 999; */
}

.footer-top {
  background-color: #3c5084;
  line-height: 1.5;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 200px;
  color: white;
}

.footer-title {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.footerLogo {
  background-color: #cccccc;
}

.footer-contents img {
  max-height: 40px;
  max-width: 40px;
}

.contact {
  background-color: #3c5084;
  padding: 20px;
}

.importantLink {
  color: white;
  padding: 20px;
}

.importantLink a:link,
.importantLink a:visited,
.importantLink a:hover,
.importantLink a:active {
  text-decoration: none;
  color: white;
}

.joinUs {
  font-size: 30px;
  padding: 20px;
}

.joinUs a:link,
.joinUs a:visited,
.joinUs a:hover,
.joinUs a:active {
  text-decoration: none;
  color: white;
}

.footer-bottom {
  text-align: center;
  background-color: #3c5084;
  line-height: 1.5;
  color: white;
  position: relative;
}

.privacy-policy {
  /* position: absolute;
  right: 0;
  bottom: 0; */
}

.privacy-policy a {
  color: white;
}

/* Footer Ends  */

/* Message-Article starts  */

.page-container {
  width: 86%;
  margin-left: 34px;
  z-index: 9999;
  min-height: 90vh;
}

.page-title-container {
  background-color: #055405;
  padding: 10px 0 10px 34px;
  font-size: 22px;
  color: #e6d417;
}

.message-article-body {
  display: grid;
  min-height: 70vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 6px 30px;
  background-color: #eeeeee;
}

.articles {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-height: 80px;
  overflow: hidden;
  object-fit: contain;
}

.article-image img {
  max-height: 100%;
  max-width: 100%;
}

.article-text {
  padding: 4px;
}

.page-numbers {
  max-width: fit-content;
  margin: 20px auto;
}

.page-numbers button {
  padding: 6px;
  background-color: #002800;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.page-numbers button:hover {
  color: yellow;
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

/* Message-Article ends  */

/* Notification details starts  */

.notification-detail-body {
  background-color: #eeeeee;
  min-height: 100px;
  margin: 16px auto;
  padding: 16px;
}

.notification-detail-title {
  background-color: #009245;
  color: white;
  font-size: 24px;
  padding: 10px;
  border-left: solid 8px red;
}

.notification-detail-date {
  font-size: 24px;
  line-height: 2;
}

.notification-detail-text {
  font-size: 18px;
  line-height: 1.2;
}

.notification-detail-image {
  object-fit: fill;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 10px;
}

.notification-detail-image img {
  max-width: 100%;

  margin: auto;
}

/* Notification Detail ends  */

/* Article Detail page  */

.article-detail-body {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-article {
  border-right: solid 1px gray;
  margin-right: 6px;
}

/* .more-articles-sidebar {
  border: solid;
} */

.main-article-author {
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
}

.main-article-author img {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

.main-article-title {
  font-size: 28px;
  font-weight: bold;
}

.main-article figure {
  display: flex;
  flex-direction: column;
}

.main-article figcaption {
  text-align: center;
}

.article-figure img {
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.article-text-description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.article-text-description p {
  font-size: 18px;
}

.message-text-detail {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.message-text-detail p {
  font-size: 18px;
}

.message-topic,
.author-details {
  font-size: 18px;
}

.article-sidebar-title {
  background-color: #d2d2d2;
  font-weight: bold;
  font-size: 20px;
  padding: 6px;
}

.sidebar-contents {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  max-height: 50px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 18px;
}

.sidebar-image img {
  max-height: 34px;
  max-width: 100%;
  object-fit: cover;
}

.sidebar-texts {
  padding-left: 4px;
  padding-right: 4px;
}

/* Article Detail page ends  */

/* About Us page starts  */

/* About us page starts  */

.about-us-body {
  font-size: 18px;
}

.about-us-image {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 14px;
}

.about-us-image img {
  max-width: 500px;
}

.about-us-title {
  font-size: 24px;
  font-weight: bold;
}

.our-app,
.join-us {
  margin: 10px auto;
}

.about-us-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-us-icons img {
  max-width: 120px;
  margin: 20px;
}

.join-us img {
  width: 50px;
}

/* About us page ends   */

/* Calender Page Starts  */

.calender-page-body {
  min-height: 100vh;
}

.calender-page-body li {
  list-style: none;
  padding: 6px;
  font-size: 18px;
}

.calender-page-body li a:hover,
.calender-page-body li a:active,
.calender-page-body li a:link,
.calender-page-body li a:visited {
  color: #006837;
  font-size: 22px;
  font-weight: bold;
}

.calender-image img {
  width: 100%;
  height: 100%;
}

.calender-title p {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

/* Calender Page Ends  */

/* service not available  */

.no-service-body {
  font-size: 28px;
  text-align: center;
  line-height: 4;
  min-height: 90vh;
}

/* service not available  */

/* Login Page Starts  */

.login-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f2f5;
  padding-top: 40px;
  /* height: 95vh; */
}

/* Login Page Ends  */

/* Login form Starts  */

.login-form-container {
  background-color: white;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-image-container {
  margin-bottom: 40px;
  margin-top: 20px;
}

.login-image-container p {
  text-align: center;
  font-size: 28px;
}

.login-form-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-container p {
  color: #999999;
  margin-bottom: 20px;
}

.inputs {
  width: 280px;
  margin-bottom: 20px;
  font-size: 22px;
  border: rgb(189, 189, 189) 1px solid;
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-container input:focus {
  outline: #3251a2 1px solid;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(50, 81, 162, 0.74);
  box-shadow: 0px 0px 15px 1px rgba(50, 81, 162, 0.74);
}

.login-button {
  background-color: #00a99d;
  color: white;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 6px;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.login-button:hover {
  background-color: #01756e;
}

.login-form-container a {
  color: #00a99d;
  margin-bottom: 20px;
}

.create-new-profile {
  background-color: #3baf4b;
  color: #ffd700;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 6px;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  transition: 0.2s ease-in;
  width: 280px;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-new-profile:hover {
  background-color: #246b2e;
}

/* Login form Ends  */

/* Verification Starts  */

/* Verification Starts  */

/* Create profile starts */

.create-profile-container {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-profile-form-container {
  background-color: white;
  padding: 20px;
}

.create-profile {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #757575;
}

.profile-input {
  width: 100%;
  font-size: 22px;
  border: #3251a2 1px solid;
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.radio-hide {
  /* display: none; */
}

.select-button {
  font-size: 22px;
  border: #3251a2 1px solid;
  border-radius: 4px;
  padding: 6px 10px;
  margin-bottom: 8px;
}

.gender:checked .select-button {
  background-color: blue;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* Create profile ends */

/* Profile Image starts  */

.profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image-container img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profile-name-container {
  font-size: 24px;
  color: #00a99d;
  font-weight: 700;
  text-align: center;
}

.profile-occupation-address-container {
  text-align: center;
  color: #757575;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.profile-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-buttons {
  width: 240px;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 4px 0px;
  color: white;
}

.profile {
  background-color: #009be0;
}

.password {
  background-color: #00bed2;
}

.logout {
  background-color: #00a99d;
}

/* Profile Image ends  */

/* Profile Detail starts  */

.profile-detail-container {
  background-color: #f0f2f5;
}

.profile-detail-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
}

.paid-unpaid-container {
  display: flex;
  justify-content: center;
}

.paid-unpaid-container img {
  max-width: 180px;
}

.profile-title-container {
  display: flex;
  flex-direction: row;
}

.profile-title-container p {
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
}

.edit_button {
  font-size: 24px;
  margin-left: 10px;
  background-color: #00a99d;
  border-radius: 6px;
}

.edit_button a {
  color: white;
  font-weight: 500;
  margin: 0 6px;
}

.profile-information-list {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.profile-about-me {
  font-size: 18px;
}

/* Profile Detail ends  */

/* Mobile Responsive Design  */

@media only screen and (max-width: 940px) {
  .container {
    width: 100%;
  }

  /* Navbar */

  nav .menu-btn i {
    font-size: 22px;
    cursor: pointer;
    display: block;
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: wheat;
    min-height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    /* z-index: 99999; */
  }
  #click:checked ~ ul {
    left: 0%;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav ul li a {
    font-size: 22px;
    display: block;
  }
  nav ul li a:hover,
  nav ul li a.active {
    color: #009245;
  }

  /* Navbar ends  */

  .right-bar {
    display: none;
  }

  .body-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  /* notifaction advertise  */

  .notification-advertise-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 6px;
  }

  .advertises {
    min-height: 90px;
    margin: 10px 0px;
  }

  /* notifaction advertise ends */

  /* article starts  */

  .article-container {
    width: 90%;
    display: none;
  }

  .article-slider {
    display: block;
  }

  /* article ends  */

  /* video starts  */

  .video-container {
    width: 90%;
    display: none;
  }

  .video-body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .video-body iframe {
    height: auto;
  }

  .video-slider {
    display: block;
  }

  /* video ends  */

  /* message starts  */

  .message-container {
    width: 90%;
    display: none;
  }

  .message-body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .home-message {
    margin-bottom: 20px;
  }

  .message-slider {
    display: block;
  }

  /* message ends  */

  /* Download our app Starts  */

  .download-our-app {
    display: block;
  }

  /* Download our app ends  */

  footer {
    width: 100%;
  }

  .footer-top {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .privacy-policy {
    position: relative;
  }

  .responsive-logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .responsive-logo img {
    max-width: 70px;
  }

  /* Message Article Page Starts */

  .page-container {
    width: 90%;
    min-height: 90vh;
    margin: auto;
  }

  .message-article-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 90vh;
  }

  .notification-card {
    display: grid;
    grid-template-columns: 20% 80%;
    height: fit-content;
  }

  /* Message Article page ends  */

  /* Article-detail-page  */

  .article-detail-body {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-article {
    border: none;
  }

  .article-figure img {
    max-width: 70%;
  }

  .more-articles-sidebar {
    max-height: 300px;
    overflow: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Article detail page ends  */

  /* About Us page starts  */

  .about-us-image img {
    max-width: 70%;
  }

  /* About Us page ends  */

  /* Profile detail page starts  */

  .profile-information-container {
    padding-left: 20px;
  }

  .profile-information-list {
    display: flex;
    flex-direction: row;
  }

  .profile-detail-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Profile detail page ends  */
}

/* Custom Scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;
  border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 83, 83);
}
